:root {
  --primary-color: black;
  --secondary-color: white;
  --hover-color: #404040;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

main {
  width: 1440px;
  min-height: 100vh;
  margin: auto;
}
/* header section css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.logo {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 15px;
  gap: 20px;
}
.nav-items {
  text-decoration: none;
  transition: 0.3s all;
}
.nav-items:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

.resume-btn button {
  width: 150px;
  height: 55px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s background-color;
}

.resume-btn button:hover {
  background-color: var(--hover-color);
}

.resume-btn button:active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  border: 2px solid var(--primary-color);
}

/* hero section css */
.hero-section {
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
.hero-section-left,
.hero-section-right {
  width: 50%;
}
.hero-section-left h1 {
  font-size: 48px;
  line-height: 1.5;
  /* font-weight: 400; */
  margin-top: 80px;
}

.hero-section h1 span:nth-child(3) {
  color: var(--primary-color);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  font-family: sans-serif;
}

.hero-section-left p {
  text-align: justify;
  color: #71717a;
  margin-top: 10px;
}

.hero-section-right img {
  width: 100%;
}

.social-container {
  margin-top: 50px;
}

.social-box {
  cursor: pointer;
  width: 56px;
  height: 56px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  transition: 0.3s all;
}

.social-box svg {
  fill: var(--primary-color);
}

.social-container ul {
  display: flex;
  gap: 20px;
}

.social-box:hover {
  background-color: var(--primary-color);
}
.social-box:hover svg {
  fill: var(--secondary-color);
}
/* skills section css */
.skills-section {
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.skills-card {
  width: 150px;
  height: 150px;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all;
}
.skills-card svg {
  fill: var(--primary-color);
}
.skills-card:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.skills-card:hover svg {
  fill: var(--secondary-color);
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  padding: 20px 40px;
  column-gap: 110px;
}

/* experience section */
.experience-section {
  background-color: var(--primary-color);
  padding: 60px 80px;
  color: white;
}

.experience-card {
  border: 2px solid var(--hover-color);
  border-radius: 10px;
  padding: 30px 24px;
  cursor: pointer;
  transition: 0.25s all;
}
.experience-container {
  padding: 0px 32px;
}
.experience-card:hover {
  background-color: #27272a;
  border-color: #27272a;
}
.experience-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-date {
  color: #d4d4d8;
  font-size: 12px;
}

.about-work {
  margin-top: 20px;
  text-align: justify;
  color: #d4d4d8;
  font-size: 12px;
  line-height: 1.5;
}

.company-name {
  font-size: 20px;
}
